# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Backup files
*.bak

# Test files
test_*.py

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
